.flower {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background-color: whitesmoke;
  z-index: 1;
}

.wrapper {
  z-index: 2;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  position: absolute;
  top: 110px;
  left: 25px;
  width: 100px;
  height: 25px;
  line-height: 25px;
  border-radius: 5px;
  font-size: 15px;
  color: rgb(26, 25, 25);
  text-align: center;
  letter-spacing: 1px;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.75);
}
.description {
  padding: 5px;
  color: black;
  text-align: center;
  font-size: 11px;
  display: none;
  z-index: 5;
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.85);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageName {
  display: none;
}

.flower1 {
  top: 600px;
  left: 200px;
}

.flower2 {
  top: 600px;
  left: 400px;
}

.flower3 {
  top: 600px;
  left: 615px;
}

.flower4 {
  top: 600px;
  right: 615px;
}

.flower5 {
  top: 600px;
  right: 400px;
}

.flower6 {
  top: 600px;
  right: 200px;
}

.flower7 {
  top: 400px;
  left: 200px;
}

.flower8 {
  top: 400px;
  right: 200px;
}

.flower9 {
  top: 200px;
  left: 200px;
}

.flower10 {
  top: 200px;
  right: 200px;
}
